@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
@media only screen and (min-device-width: 375px){}
@media only screen and (min-device-width: 1440px){}

:root{
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: var(--light-gray);
}

.card {
    background-color: var(--white);
    width: 220px;
    border-radius: 20px;
}

.image-qr-code{
    border-radius: 20px;
    width: 200px;
    margin: 10px;
}

.hearder-pragraph{
    font-weight: 700;
    color: var(--dark-blue);
    margin: 10px 10px 20px 25px;
    text-align: center;
}

.detail-pragraph{
    font-weight: 400;
    color: var(--grayish-blue);
    margin: 10px 10px 20px 25px;
    text-align: center;
    font-size: 15px;
}